header.head-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.334);
    backdrop-filter: blur(2rem);
    z-index: 6;
}

.head__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav__toggle {
    display: none;
}

.nav__list li a {
    color: white;
}
.nav-logo {
    display: block;
    width: 13rem;
    height: 3rem;
    overflow: visible;
    transform: translateY(-20px);
}
.smallscreen {
    width: 5rem;
    display: none;
}
.abs {
    position: fixed;
}
.head-icon {
    font-size: 1.5rem;
    display: none;
}


/*==================MEDIA QUERIES (SMALL DEVICE)*/
@media screen and (max-width: 600px) {
    .head-text {
        display: none;
    }
    .smallscreen {
        display: block;
    }
    .largescreen {
        display: none;
    }
    .head-icon {
        display: inline;
    }
    .nav__list {
        gap: 2.5rem;
    }
}
